@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --dark-void: #16151A;
  --liquid-lava: #F67011;
  --slate-grey: #262626;
  --glount-lova: #873800;
  --dusty-grey: #878787;
  --marigold: #FFE4D0;

  --lava-gradient: linear-gradient(135deg, #F67011 0%, #873800 100%);
  --dark-gradient: linear-gradient(180deg, #16151A 0%, #262626 100%);
  --glow-orange: 0 0 20px rgba(246, 112, 17, 0.3);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
